body{
    background-color: #f4f4f4;
}
.table tr th{
    background-color: #333 !important;
    color: #fff !important;
}
h1{
    color:#333 !important;
    margin-top: 100px  !important;
    font-size: 40px !important;
    font-weight: bold !important;
    text-align: center; 
    margin-bottom: 20px !important;
}
.list-user li{
    padding: 10px;
    margin-bottom: 5px;  
}
.list-user span{
    width: 70px;
}
.list-user li:nth-child(odd){
    background-color: #f8f4f4;
}
.product5{
    margin-top: 120px;
}
span .count{
    font-size: 40px;
    font-weight: bold;
    margin-right: 5px;
}


